@model LTM.School.Core.Models.Course

@{
    ViewData["Title"] = "Delete";
}

<h2>删除</h2>

<h3>你是否确定要删除以下课程信息？</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CourseId" />
        <input type="submit" value="删除" class="btn btn-default" /> |
        <a asp-action="Index">返回列表</a>
    </form>
</div>
